.infoPanel {
  display: flex;
  margin: 0 auto;
  width: 192px;
  height: 60px;
  margin: 0 auto;
  margin-top: 25%;
  margin-bottom: 5px;
  border: 2px solid black;
  background: lightblue;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    margin-bottom: 25%;
  }
  .cell {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
  }
